.Guides-nav {
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-guides {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
  }
  
  .nav-guides img {
    width: 100px;
    height: 100px;
  }
  
  .badge-icon {
    margin-left: 10px;
  }
  
  .logout-btn {
    background-color: #0066cc;
    color: #ffffff;
    margin-left: 20px;
  }
  .logout-btn:hover {
    background-color: #004999;
  }